{{>head}}

    {{>navbar}}

    <div class="row">
        <div class="col-4">
            <h1>Hola mundo</h1>
        </div>
        <div class="col-4">
            <img src="assets/img/Banner 1.jpg" class="img-thumbnail">
        </div>
    </div>

{{>footer}}